In [1]:
import array
array.array('d',[1,2,3])

array('d', [1.0, 2.0, 3.0])

In [2]:
#Mutable sequences

import collections

#mutable types
#list, bytearray, array.array and collections.deque

#immutable sequences
# tuple, str and bytes

In [3]:
#mutable sequences inherits all methods from immutable sequences and implement several additonal methods
#Mutable Sequence abstract base classes(ABC)

from collections import abc

issubclass(tuple, abc.Sequence)
issubclass(list, abc.Sequence)

True

#### List Comprehensions

In [4]:
#cartesian products using lilst comprehension

colors = ['black', 'white']
sizes = ['S', 'M', 'L']

tshirts = [(color, size) for color in colors for size in sizes]
tshirts


#using a for loop

for color in colors:
    for size in sizes:
        print((color, size))  #order has to be maintained

tshirts = [(color, size) for size in sizes for color in colors]  #no need to maintain the order
tshirts

('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

[('black', 'S'),
 ('white', 'S'),
 ('black', 'M'),
 ('white', 'M'),
 ('black', 'L'),
 ('white', 'L')]

#### Generator expression

In [5]:
symbols = '$¢£¥€¤'
tuple(ord(symbol) for symbol in symbols)

(36, 162, 163, 165, 8364, 164)

In [6]:
#cartesian product using generator expressions

colors = ['black', 'white']
sizes = ['S', 'M', 'L']

for tshirt in (f'{c} {s}' for c in colors for s in sizes):
    print(tshirt)

black S
black M
black L
white S
white M
white L

#### Tuples as records

In [7]:
lax_coords = (33.94245, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32_450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]

for passport in sorted(traveler_ids):
    print('%s/%s' %passport)


for country, _ in traveler_ids:  #tuple unpacking
    print(country)

BRA/CE342567
ESP/XDA205856
USA/31195855
USA
BRA
ESP

In [8]:
#hashable- if its value cannot be changed

#to check if a tuple has hash values

def fixec(o):
    try:
        hash(o)
    except TypeError:
        return f'mutable'
    return 'immutable'

In [9]:
tf = (10, 'alpha', (1,2))
tm = (10, 'alpha', [1,2])

fixec(tf),fixec(tm)

('immutable', 'mutable')

In [10]:
#tuple unpacking

divmod(20, 8)

t = (20, 8)
divmod(*t) #tuple unpacking

(2, 4)

In [11]:
#another usecase of tuple unpacking

import os
_, filename = os.path.split('/home/opensuse/.ssh')
filename,_

('.ssh', '/home/opensuse')

In [12]:
#* to grab items

a, b, *rest = range(5)
*a,b,rest = range(10)
a,b,rest

([0, 1, 2, 3, 4, 5, 6, 7], 8, 9)

In [13]:
def fun(a, b, c, d, *rest):
    return a, b, c, d, rest

fun(*(1,2,'l',[3,4,5]))
fun(*[1, 2], 3, *range(4, 7))

(1, 2, 3, 4, (5, 6))

In [14]:
[*range(5)] #unpacks the range
#same as 
[i for i in range(5)]

#another
[*range(5),5,*(6,7,8)]

[0, 1, 2, 3, 4, 5, 6, 7, 8]

#### Nested tuple unpacking

In [15]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),  
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

def main():
    print(f'{"":15} | {"latitude":>9} | {"longitude":>9}')
    for name,_,_,(lat,long) in metro_areas:
        if long<=0:
            print(f'{name:15} | {lat:9.4f} | {long:9.4f}')


main()

                |  latitude | longitude
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
São Paulo       |  -23.5478 |  -46.6358

#### Pattern Matching with Sequences

In [21]:
#using match/case

metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),  
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

def main():
    print(f'{"":15} | {"latitude":>9} | {"longitude":>9}')
    for record in metro_areas:
        match record:
            case [name, _, _, (lat,lon)] if lon <= 0:
                print(f'{name:15} | {lat:9.4f} | {lon:9.4f}')

main()

#The case method can be supplied using list, tuples and any other that supports sequence

                |  latitude | longitude
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
São Paulo       |  -23.5478 |  -46.6358

In [27]:

metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),  
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

def main():
    print(f'{"":15} | {"latitude":>9} | {"longitude":>9}')
    for record in metro_areas:
        match record:
            case (name, _, _, (lat,lon)) if lon <= 0:
                print(f'{name:15} | {lat:9.4f} | {lon:9.4f}')

main()
#can use tuples also
#But str, bytes, bytearray are not handled as sequences

                |  latitude | longitude
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
São Paulo       |  -23.5478 |  -46.6358

In [30]:
#method from an imaginary robot class





def handle_command(self, message):
    match message:
        case ['BEEPER', frequency, times]:
            self.beep(times, frequency)
        case ['NECK', angle]:
            self.rotate_neck(angle)
        case['LED', ident, intensity]:
            self.leds[ident].set_brightness(ident, intensity)
        case['LED', ident, red, green, blue]:
            self.leds[ident].set_color(ident, red, green, blue)
        case _:
            raise InvalidCommand(message)

In [39]:
##acceptable sequence patterns list     memoryview    array.array
#tuple    range         collections.deque

In [40]:
#also can do the following

#case [name, _, _, (lat, lon) as coord]

#### Slicing

In [67]:
#seq.__getitem__(slice(start, stop, step))
List = [*range(10,40,5)]
List.__getitem__(slice(0,2,1))

[10, 15]

In [73]:
#same as
List[:2]

[10, 15]